<%if (format === 'text') { %>

Dear Cloudron Admin,

A new version <%= updateInfo.manifest.version %> of the app '<%= app.manifest.title %>' installed at <%= app.fqdn %> is available!

Changes:
<%= updateInfo.manifest.changelog %>

<% if (!hasSubscription) { -%>
*Keep your Cloudron automatically up-to-date and secure by upgrading to a paid plan at* <%= webadminUrl %>/#/settings
<% } -%>

Powered by https://cloudron.io

Sent at: <%= new Date().toUTCString() %>

<% } else { %>

    <center>

    <img src="<%= cloudronAvatarUrl %>" width="128px" height="128px"/>

    <h3>Dear <%= cloudronName %> Admin,</h3>

    <div style="width: 650px; text-align: left;">
        <p>
            A new version <%= updateInfo.manifest.version %> of the app '<%= app.manifest.title %>' installed at <%= app.fqdn %> is available!
        </p>

        <h5>Changelog:</h5>
        <%- changelogHTML %>

        <br/>

        <% if (!hasSubscription) { %>
        <p>Keep your Cloudron automatically up-to-date and secure by upgrading to a <a href="<%= webadminUrl %>/#/settings">paid plan</a>.</p>
        <% } %>

        <br/>
    </div>

    <div style="font-size: 10px; color: #333333; background: #ffffff;">
        Powered by <a href="https://cloudron.io">Cloudron</a>.
    </div>

    </center>

<% } %>
