<%if (format === 'text') { %>

Dear Cloudron Admin,

<% for (var i = 0; i < apps.length; i++) { -%>
A new version <%= apps[i].updateInfo.manifest.version %> of the app '<%= apps[i].app.manifest.title %>' installed at <%= apps[i].app.fqdn %> is available.

Changes:
<%= apps[i].updateInfo.manifest.changelog %>

<% } -%>

<% if (!hasSubscription) { -%>
*Keep your Cloudron automatically up-to-date and secure by upgrading to a paid plan at* <%= webadminUrl %>/#/settings
<% } else { -%>
Update now at <%= webadminUrl %>
<% } -%>

Powered by https://cloudron.io

Sent at: <%= new Date().toUTCString() %>

<% } else { %>

    <center>

    <img src="<%= cloudronAvatarUrl %>" width="128px" height="128px"/>

    <h3>Dear <%= cloudronName %> Admin,</h3>

    <br/>

    <div style="width: 650px; text-align: left;">
<% for (var i = 0; i < apps.length; i++) { -%>
        <p>
            A new version <%= apps[i].updateInfo.manifest.version %> of the app '<%= apps[i].app.manifest.title %>' installed at <a href="https://<%= apps[i].app.fqdn %>"><%= apps[i].app.fqdn %></a> is available.
        </p>

        <h5>Changelog:</h5>
        <%- apps[i].changelogHTML %>

        <br/>
<% } -%>

<% if (!hasSubscription) { -%>
        <p>Keep your Cloudron automatically up-to-date and secure by upgrading to a <a href="<%= webadminUrl %>/#/settings">paid plan</a>.</p>
<% } else { -%>
        <p>
            <br/>
            <center><a href="<%= webadminUrl %>">Update now</a></center>
            <br/>
        </p>
<% } -%>
    </div>

    <div style="font-size: 10px; color: #333333; background: #ffffff;">
        Powered by <a href="https://cloudron.io">Cloudron</a>.<br/>
        Sent at: <%= new Date().toUTCString() %>
    </div>

    </center>

<% } %>
