<%if (format === 'text') { %>

Dear <%= cloudronName %> Admin,

Cloudron Version <%= newBoxVersion %> is now available!

Your Cloudron will update to 1.0 once you have selected a plan (https://cloudron.io/pricing.html).

With a paid plan, you get continuous updates for the Cloudron and apps just like you had until now.
This ensures you are running the latest versions of apps and keeps your server secure. All paid
plans come with support via email (support@cloudron.io) and live chat (https://chat.cloudron.io).

You can read more about our pricing changes in our blog  at https://cloudron.io/blog/2017-06-06-pricing.html.
Visit our pricing page https://cloudron.io/pricing.html for pricing information.

Visit your Cloudron at <%= webadminUrl %> to perform the update.

Thank you,
Cloudron.io team

<% } else { %>

<center>

<img src="<%= cloudronAvatarUrl %>" width="128px" height="128px"/>

<h3>Dear <%= cloudronName %> Admin,</h3>

<div style="width: 650px; text-align: left;">
    <p>
        Cloudron Version <b><%= newBoxVersion %></b> is now available!
    </p>

    <p>
        Your Cloudron will update to 1.0 once you have selected a  <a href="https://cloudron.io/pricing.html">plan</a>.
    </p>
    <p>
        With a paid plan, you get continuous updates for the Cloudron and apps just like you had until now. This ensures you are running the latest versions of apps and keeps your server secure. All paid plans come with support via <a href="mailto:support@cloudron.io">email</a> and <a target="_blank" href="https://chat.cloudron.io">live chat</a>.
    </p>
    <p>
        You can read more about our pricing changes in our <a href="https://cloudron.io/blog/2017-06-06-pricing.html" target="_blank">blog</a>.
    </p>

    <p>
        Visit your Cloudron <a href="<%= webadminUrl %>">here</a> to perform the update.
    </p>

    <br/>
    <br/>
</div>

<div style="font-size: 10px; color: #333333; background: #ffffff;">
    Powered by <a href="https://cloudron.io">Cloudron</a>.
</div>

</center>

<img src="https://analytics.cloudron.io/piwik.php?idsite=2&rec=1&e_c=CloudronEmail&e_a=update" style="border:0" alt="" />

<% } %>
