<%if (format === 'text') { %>

Dear <%= cloudronName %> Admin,

Version <%= newBoxVersion %> is now available!

Changelog:
<% for (var i = 0; i < changelog.length; i++) { %>
  * <%- changelog[i] %>
<% } %>

<% if (!hasSubscription) { -%>
*Keep your Cloudron automatically up-to-date and secure by upgrading to a paid plan at* <%= webadminUrl %>/#/settings
<% } -%>

Powered by https://cloudron.io

Sent at: <%= new Date().toUTCString() %>

<% } else { %>

<center>

<img src="<%= cloudronAvatarUrl %>" width="128px" height="128px"/>

<h3>Dear <%= cloudronName %> Admin,</h3>

<div style="width: 650px; text-align: left;">
    <p>
        Version <b><%= newBoxVersion %></b> is now available!
    </p>

    <h5>Changelog:</h5>
    <ul>
    <% for (var i = 0; i < changelogHTML.length; i++) { %>
        <li><%- changelogHTML[i] %></li>
    <% } %>
    </ul>

    <br/>

    <% if (!hasSubscription) { %>
    <p>Keep your Cloudron automatically up-to-date and secure by upgrading to a <a href="<%= webadminUrl %>/#/settings">paid plan</a>.</p>
    <% } %>

    <br/>
</div>

<div style="font-size: 10px; color: #333333; background: #ffffff;">
    Powered by <a href="https://cloudron.io">Cloudron</a>.
</div>

</center>

<img src="https://analytics.cloudron.io/piwik.php?idsite=2&rec=1&e_c=CloudronEmail&e_a=update" style="border:0" alt="" />

<% } %>

