<% if (format === 'text') { -%>

Dear <%= cloudronName %> Admin,

This is a summary of the activities on your Cloudron.
<% if (info.usersAdded.length) { -%>

The following users were added:
<% for (var i = 0; i < info.usersAdded.length; i++) { -%>
    * <%- info.usersAdded[i].email %>
<% }} -%>
<% if (info.certRenewals.length) { -%>

The certificates of the following apps was renewed:
<% for (var i = 0; i < info.certRenewals.length; i++) { -%>
    * <%- info.certRenewals[i].domain %> - <%- info.certRenewals[i].errorMessage || 'Success' %>
<% }} -%>
<% if (info.pendingBoxUpdate) { -%>

Cloudron v<%- info.pendingBoxUpdate.version %> is available:
<% for (var i = 0; i < info.pendingBoxUpdate.changelog.length; i++) { -%>
    * <%- info.pendingBoxUpdate.changelog[i] %>
<% }} -%>
<% if (info.pendingAppUpdates.length) { -%>

One or more app updates are available:
<% for (var i = 0; i < info.pendingAppUpdates.length; i++) { -%>
    - <%= info.pendingAppUpdates[i].manifest.title %> package v<%= info.pendingAppUpdates[i].manifest.version %>
<% for (var j = 0; j < info.pendingAppUpdates[i].manifest.changelog.trim().split('\n').length; j++) { -%>
        <%= info.pendingAppUpdates[i].manifest.changelog.trim().split('\n')[j] %>
<% }}} -%>
<% if (info.finishedBoxUpdates.length) { -%>

Cloudron was updated with the following releases:
<% for (var i = 0; i < info.finishedBoxUpdates.length; i++) { -%>
    - Version <%= info.finishedBoxUpdates[i].boxUpdateInfo.version %>
<% for (var j = 0; j < info.finishedBoxUpdates[i].boxUpdateInfo.changelog.length; j++) { -%>
        * <%= info.finishedBoxUpdates[i].boxUpdateInfo.changelog[j] %>
<% }}} -%>
<% if (info.finishedAppUpdates.length) { -%>

The following apps were updated:
<% for (var i = 0; i < info.finishedAppUpdates.length; i++) { -%>
    - <%= info.finishedAppUpdates[i].toManifest.title %> package v<%= info.finishedAppUpdates[i].toManifest.version %>
<% for (var j = 0; j < info.finishedAppUpdates[i].toManifest.changelog.trim().split('\n').length; j++) { -%>
        <%= info.finishedAppUpdates[i].toManifest.changelog.trim().split('\n')[j] %>
<% }}} -%>
<% if (info.finishedBackups.length) { -%>

Last successful backup: <%- info.finishedBackups[0].backupId || info.finishedBackups[0].filename %>
<% } else { -%>

This Cloudron did **not** backup successfully in the last week!
<% } -%>

<% if (!info.hasSubscription) { -%>

*Keep your Cloudron automatically up-to-date and secure by upgrading to a paid plan at* <%= webadminUrl %>/#/settings
<% } -%>

Powered by https://cloudron.io

Sent at: <%= new Date().toUTCString() %>

<% } else { %>

<center>
    <div style="max-width: 800px; text-align: left; border: 1px solid lightgray; padding: 20px;">
        <center>
            <img src="<%= cloudronAvatarUrl %>" width="128px" height="128px"/>
        </center>

        <br/>

        <p>This is a summary of the activities on your Cloudron <a href="<%= webadminUrl %>"><%= cloudronName %></a> last week.</p>

    <% if (info.usersAdded.length) { -%>
        <p><b>The following users were added:</b></p>
        <ul>
        <% for (var i = 0; i < info.usersAdded.length; i++) { %>
            <li><%- info.usersAdded[i].email %></li>
        <% } %>
        </ul>
    <% } %>

    <% if (info.certRenewals.length) { -%>
        <p><b>The certificates of the following apps were renewed:</b></p>
        <ul>
            <% for (var i = 0; i < info.certRenewals.length; i++) { %>
                <li><%- info.certRenewals[i].domain %> - <%- info.certRenewals[i].errorMessage || 'Success' %></li>
            <% } %>
        </ul>
    <% } %>

    <% if (info.pendingBoxUpdate) { -%>
        <p><b>Cloudron v<%- info.pendingBoxUpdate.version %> is available:</b></p>
        <ul>
        <% for (var i = 0; i < info.pendingBoxUpdate.changelog.length; i++) { %>
            <li><%- info.pendingBoxUpdate.changelog[i].replace(/^[\*,-] /, '') %></li>
        <% } %>
        </ul>
    <% } %>

    <% if (info.pendingAppUpdates.length) { %>
        <p><b>Available app updates:</b></p>
        <ul>
        <% for (var i = 0; i < info.pendingAppUpdates.length; i++) { %>
            <li>
                <b><%= info.pendingAppUpdates[i].manifest.title %></b>
                <ul>
                <% for (var j = 0; j < info.pendingAppUpdates[i].manifest.changelog.trim().split('\n').length; j++) { %>
                    <li><%= info.pendingAppUpdates[i].manifest.changelog.trim().split('\n')[j].replace(/^[\*,-] /, '') %></li>
                <% } %>
                </ul>
            </li>
        <% } %>
        </ul>
    <% } %>

    <% if (info.finishedBoxUpdates.length) { %>
        <p><b>Your Cloudron was updated with the following releases:</b></p>
        <ul>
        <% for (var i = 0; i < info.finishedBoxUpdates.length; i++) { %>
            <li>
                <b><%= info.finishedBoxUpdates[i].boxUpdateInfo.version %></b>
                <ul>
                    <% for (var j = 0; j < info.finishedBoxUpdates[i].boxUpdateInfo.changelog.length; j++) { %>
                    <li><%= info.finishedBoxUpdates[i].boxUpdateInfo.changelog[j].replace(/^[\*,-] /, '') %></li>
                    <% } %>
                </ul>
            </li>
        <% } %>
        </ul>
    <% } %>

    <% if (info.finishedAppUpdates.length) { %>
        <p><b>The following apps were updated:</b></p>
        <ul>
        <% for (var i = 0; i < info.finishedAppUpdates.length; i++) { %>
            <li>
                <b><%= info.finishedAppUpdates[i].toManifest.title %></b> (package v<%= info.finishedAppUpdates[i].toManifest.version %>)
                <ul>
                <% for (var j = 0; j < info.finishedAppUpdates[i].toManifest.changelog.trim().split('\n').length; j++) { -%>
                    <li><%= info.finishedAppUpdates[i].toManifest.changelog.trim().split('\n')[j].replace(/^[\*,-] /, '') %></li>
                <% } %>
                </ul>
            </li>
        <% } %>
        </ul>
    <% } %>

    <% if (info.finishedBackups.length) { %>
        <p><b>Last successful backup : </b> <%= info.finishedBackups[0].backupId || info.finishedBackups[0].filename %> </p>
    <% } else { %>
        <p><b>This Cloudron did not backup successfully in the last week!</b></p>
    <% } %>

        <br/>

    <% if (!info.hasSubscription) { %>
        Keep your Cloudron automatically up-to-date and secure by upgrading to a <a href="<%= webadminUrl %>/#/settings">paid plan</a>.
    <% } %>

        <br/>
        <br/>
        <br/>

        <center>
            <small>
                Powered by <a href="https://cloudron.io">Cloudron</a><br/>
                Sent on <%= new Date().toUTCString() %>
            </small>
        </center>
    </div>
</center>

<% } %>
