<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' 'unsafe-eval' 'self'; img-src 'self'" />

    <title> <%= title %> </title>

    <link href="/api/v1/cloudron/avatar?<%= Math.random() %>" rel="icon" type="image/png">

    <!-- Theme CSS -->
    <link href="<%= adminOrigin %>/theme.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="<%= adminOrigin %>/3rdparty/css/font-awesome.min.css" rel="stylesheet" rel="stylesheet" type="text/css">

    <!-- jQuery-->
    <script src="<%= adminOrigin %>/3rdparty/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="<%= adminOrigin %>/3rdparty/js/bootstrap.min.js"></script>

    <!-- Angularjs scripts -->
    <script src="<%= adminOrigin %>/3rdparty/js/angular.min.js"></script>
    <script src="<%= adminOrigin %>/3rdparty/js/angular-loader.min.js"></script>

</head>

<body>

  <div class="layout-root">

    <nav class="navbar navbar-default navbar-static-top shadow" role="navigation" style="margin-bottom: 0">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand navbar-brand-icon"><img src="/api/v1/cloudron/avatar?<%= Math.random() %>" width="40" height="40"/></a>
          <a href="/" class="navbar-brand"><%= cloudronName %></a>
        </div>
      </div>
    </nav>
